%cta {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  color: #2e2d2b;
  a {
    color: inherit;
    border-bottom: 1px solid #2e2d2b;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    &:hover {
      text-decoration: none;
      color: $dusty-orange;
    }
  }
}
%ui-button {
  border: none;
  background: none;
  border-bottom: 1px solid #a0a0a0;
  cursor: pointer;
  padding: 0;
  color: #a0a0a0;
}
