%title {
  text-align: center;
  padding: 50px 0px;
  .title_heading {
    font-size: 30px;
    color: #cec28f;
    font-family: $Haviland;
    margin-bottom: 0px;
  }
  .title_content {
    font-size: 25px;
    color: #21201e;
    font-weight: normal;
  }
}
