@import url("https://fonts.googleapis.com/css?family=Mr+De+Haviland");

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/segeoui/segoeui.ttf");
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url("../fonts/segeoui/segoeuib.ttf");
}
@font-face {
  font-family: "Segoe UI Semi Bold";
  src: url("../fonts/segeoui/seguisb.ttf");
}
$font-family: "Segoe UI";
$Haviland: "Mr De Haviland", cursive;
$SegoeUI: "Segoe UI";
$SegoeUIBold: "Segoe UI Bold";
$SegoeUISemiBold: "Segoe UI Semi Bold";
