.header-page{
    height: 300px;
    background: url("/../../assets/images/bg2.png") no-repeat;
    background-size: cover;
    width: 100%;
    padding:120px 0;
    .header-title{
        strong{
            font-weight: bold;
            font-family: $SegoeUISemiBold;
            font-size: 24px;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: center;
            color: #fdfdfb;
        }
    }
}