<section class="header-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-title text-center">
          <strong class="text-uppercase">FIT'N NGON BLOGS
          </strong>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blogs" *ngIf="payload.fetched">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 box-blogs">
        <div class="d-flex row">
          <div class="col-12 col-sm-6 d-flex flex-column justify-content-center blogs-items"
            *ngFor="let item of payload.items">
            <div>
              <div class="image">
                <img src="/assets/images/5.png">
              </div>
              <div class="content">
                <div class="tag">
                  <span><i class="fa fa-tag" aria-hidden="true"></i>{{item.postCategory.getName()}}</span>
                  <span class="float-right"><i class="fa fa-eye" aria-hidden="true"></i>99</span>
                </div>
                <div class="name text-uppercase">{{item.getTitle()}}</div>
                <div class="description" [innerHTML]="item.getShortDescription()"></div>
                <div class=" blogs__cta">
                  <a [routerLink]="blogDetailPageRouter(item.id)">Tìm hiểu thêm <img src="/assets/images/muiten.png"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="float-right">
          <length-aware-paginator [paginator]="payload.pagination"></length-aware-paginator>
        </div>
      </div>
      <div class="col-12 col-md-4 d-flex flex-column orther">
        <div class="box theme">
          <p>Chủ đề</p>
          <ul>
            <li><a href="#">Công thức</a></li>
            <li><a href="#">Review món ăn</a></li>
            <li><a href="#">Mẹo trong nấu ăn</a></li>
            <li><a href="#">Kiến thức</a></li>
          </ul>
        </div>
        <div class="box hot">
          <p>Bài viết nổi bật</p>
          <div class="hot-item">
            <div class="image float-left">
              <img src="/assets/images/9.png">
            </div>
            <div class="content">
              <p class="title"><a href="#">Hendrerit nisi venenatis</a></p>
              <p class="time"><i class="fa fa-calendar" aria-hidden="true"></i> 14/11/2018</p>
            </div>
          </div>
          <div class="hot-item">
            <div class="image float-left">
              <img src="/assets/images/9.png">
            </div>
            <div class="content">
              <p class="title"><a href="#">Hendrerit nisi venenatis</a></p>
              <p class="time"><i class="fa fa-calendar" aria-hidden="true"></i> 14/11/2018</p>
            </div>
          </div>
          <div class="hot-item">
            <div class="image float-left">
              <img src="/assets/images/9.png">
            </div>
            <div class="content">
              <p class="title"><a href="#">Hendrerit nisi venenatis</a></p>
              <p class="time"><i class="fa fa-calendar" aria-hidden="true"></i> 14/11/2018</p>
            </div>
          </div>
        </div>
        <div class="box tag">
          <p>Nhãn</p>
          <ul>
            <li><a href="#">Lorem Ipsum IP</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Lorem Ipsum IP</a></li>
            <li><a href="#">Lorem Ipsum IP</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Lorem Ipsum IP</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
