.page-story{
      p{
                margin-bottom: 30px;
        }
    .story__title{
        @extend %title;
    }
    .content-author{
            float: right;
        }
    .story__image{
        margin-bottom: 50px;
    }   
    
}