.page-bill{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2e2d2b;
      padding-top: 50px;
      background-color: #f5f5f5;
      padding-bottom: 82px;
    // .custom-padding{
    //     padding-right: 0;
    // }
    .custom-row{
        margin: 0;
        border-bottom: dashed 1px #cbcbcb;
    }
      .page-bill-header{
          padding-left: 45px;
          padding-top: 66px;
          padding-bottom: 10px;   
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          background-color: #ffffff;
          margin-bottom: 1px;
          .bill-header-left{
              .header-left__title{
                    font-size: 18px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #2e2d2b;
                    img{
                        margin-right: 11px;
                        
                    }
                    
              }
          }
          .bill-header-right{
              font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: #f48131;
            margin-left: 20px;
          }
      }
      .page-bill-item{
          padding-left: 45px;
          padding-top: 33px;
          padding-bottom: 24px;   
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          background-color: #ffffff;
          margin-bottom: 1px;
        .bill-item__img{
            margin-left: 16px;
            width: 72px;
        }
        .bill-item__title{
            .bill-title{
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                text-align: left;
                color: #21201e;
            }
        }
        .bill-item__right{
            .qty-right{
                width: 22px;
                height: 22px;
                border: solid 1px #707070;
                background-color: #ffffff;
                text-align: center;
                color: #f48131;
                margin-left: 16px;
                margin-right: 101px;
            }
            .price-right{
                color: #f48131;
                        padding-right: 89px;
            }
        }
      }
      .page-bill-payment{
          background-color: #fdfdfb;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          .bill-payment{
              margin-top: 12px;
              .bill-payment__note{
                  margin-left: 52px;
                  .note{
                          margin-left: 39px;
                  }
              }
              .bill-payment__count{
                  margin-left: 89px;
              }
              .bill-payment__price{
              font-weight: bold;
              margin-left: 8px;
          }
          .bill-payment__state{
            font-weight: bold;
            
          }
          }
      }
      .page-bill-total{
           box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
           background-color: #ffffff;
           margin-top: 1px ;
              padding-bottom: 275px;
              padding-top: 20px;
           .bill-total__note{
                   margin-left: 76px;
           }
           .bill-total__price{
               .price-total{
                   font-size: 18px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    letter-spacing: normal;
                    text-align: left;
                    color: #f48131;
            
               }
           }
      }
}
@media (min-width: 320px) and (max-width: 500px) {
    .page-bill{
        font-size: 11px;
        .custom-padding{
            padding: 0;
        }
       .page-bill-header{
           padding-top: 23px;
           padding-left: 0;
           .bill-header-left{
               .header-left__title{
                         font-size: 12px;
               }
           }
           .bill-header-right{
               margin-left: 43px;
               .state{
                       font-size: 13px;
               }
           }
       }
       .page-bill-item{
           padding-top: 25px;
           padding-left: 0;
           .custom-row-ip5{
               margin-left: 0;
               margin-right: 0;
           }
           .bill-item__title{
               .bill-title{
                       font-size: 15px;
               }
           }
            .bill-item__right{
               .price-state{
                       margin-left: 71% !important;
               }
           }

       }
       .page-bill-payment{
           .bill-payment{
               .bill-payment__note{
                       margin-left: 10px;
                       .note{
                               margin-left: -13px;
                       }
               }
               .bill-payment__count{
                       margin-left: 55px;

               }
               .bill-payment__price{
                   margin-left :40px;
               }
               .bill-payment__state{
                       margin-left: 26px;
               }
           }
       }
       .page-bill-total{
           .bill-total{
               .bill-total__note{
                   margin-left: 12px;
               }
               .bill-total__price{
                   .price-total{
                       margin-left: 29px;
                   }
               }
           }
       }
    }
}
@media (max-width: 767.98px)  {
    .page-bill{
        .custom-row-ip5{
            margin-left: 0;
            margin-right: 0;
        }
        .page-bill-item{
            .bill-item__right{
                .price-state{
                    margin-left: 65%;
                }
            }
        }
        .page-bill-total{
            padding-bottom: 50px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .page-bill{
        .page-bill-header{
            .bill-header-right{
             margin-left: 0;
            }
        }
        .page-bill-item{
                padding-left: 22px;
                .bill-item__title{
                    padding-left: 36px;
                }
            .bill-item__right{
                   .qty-right{
                       margin-left: 23px;
                         margin-right: 36px;
                   }
                   .price-right{
                       padding-right: 45px;
                   }
            }
        }
        .page-bill-payment{
            .bill-payment{
                .bill-payment__note{
                    margin-left: 15px;
                }
            }
        }
        .page-bill-total{
            .bill-total__note{
                margin-left: 40px;
            }
        }
    }
}
