.blogs{
	padding-top: 50px;
	background-color: #f5f5f5;
	.container{
		>.row{
			margin: 0;
			.box-blogs{
				.blogs-items{
					padding-left: 0;
					padding-bottom: 15px;
					@media (max-width:575px){
						padding-right: 0;
					}
					>div{
						background-color: #ffffff;
						.image{
							width: 100%;
							img{
								width: 100%;
							}
						}
						.content{
							padding: 15px;
							padding-top: 10px;
							.tag,.name{
								line-height: 30px;
							}
							.tag{
								color: #707070;
								>span{
									font-size: 12px;
									i{
										padding-right: 5px;
									}
									&:first-child{
										i{
											transform: rotateY(180deg);
											padding-right: 0;
											padding-left: 5px;
										}
									};
								}
							}
							.name{
								font-weight: 700;
								display: -webkit-box;
								-webkit-line-clamp: 1;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
								font-family: $SegoeUIBold;
							}
							.description{
								line-height: 20px;
								word-spacing: 1px;
								display: -webkit-box;
								-webkit-line-clamp: 3;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
								color: #707070;
								margin: 10px 0;
							}
							.blogs__cta{
								@extend %cta;
								margin-top: 40px;
								font-family: $SegoeUISemiBold;
							}
						}
					}
				}
				.pagination{
					margin: 50px 0;
					ul{
						list-style: none;
						li{
							display: inline-block;
							width: 24px;
							height: 24px;
							text-align: center;
							border: 1px solid #afafaf;
							margin-left: 11px;
							cursor: pointer;
							a{
								color: #afafaf;
								font-size: 15px;	
								font-family: $SegoeUISemiBold;
							}
						}
						.active{
							background-color: #f48131;
							border: 1px solid #f48131;
							a{
								color: #ffffff;
							} 
						}
					}
				}
			}
			.orther{
				padding-left: 65px;
				@media (max-width: 767px){
					padding-left: 0px;
				}
				.box{
					margin-bottom: 50px;
					>p{
						font-family: $SegoeUIBold;
					}
				}
				.theme{
					ul{
						list-style: none;
						padding: 0;
						li{
							line-height: 30px;
							a{
								color: 	#21201e;
							}
						}
					}
				}
				.hot{
					.hot-item{
						padding: 15px 0;
						border-bottom: 1px dashed #888;
						&:first-child{
							padding-top: 0;
						};
						&:last-child{
							padding-bottom: 0;
							border: none;
						};
						.image{
							width: 75px;
							height: 55px;
							margin-right: 20px;
						}
						p{
							a{
								color:#1c1b1b;
								font-family: $SegoeUIBold;
							}
							&:last-child{
								margin-bottom: 0;
							};
						}
						.time{
							color: #999696;
							font-size: 13px;
						}
					}
				}
				.tag{
					ul{
						list-style: none;
						width: 100%;
						padding: 0;
						li{
							border: 1px solid #f48131;
							padding: 7px;
							line-height: 10px;
							margin: 10px;
							margin-left: 0;
							margin-top: 0;
							float: left;
							background-color: #ffffff;
							a{
								color:#999696;
							}
						}
					}
				}
			}
		}
	}
}