.page-cart {
    background: #f5f5f5;
    .custom-padding{
        padding: 0;
    }
    .page-cart-menu {
        padding-top: 50px;
        padding-bottom: 50px;
        .cart-menu {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: left;
            color: #21201e;
            padding-top: 16px;
            padding-left: 17px;
            margin-bottom: 25px;
            .cart-list {
                ul {
                    li {
                        padding-right: 54px;
                    }
                }
            }
        }
        .cart-menu-list {
            margin-bottom: 15px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            .cart-menu-list-title {
                .list-border {
                    font-size: 14px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2.86;
                    letter-spacing: normal;
                    color: #f48131;
                    padding-left: 17px;
                    border-bottom: 2px solid #f5f5f5;
                    margin-bottom: 0;
                }
            }
            .cart-menu-list-left {
                padding: 29px 16px 25px 37px;
                .cart-menu-list-left-title {
                    h5 {
                        font-size: 18px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.33;
                        letter-spacing: normal;
                        text-align: left;
                        color: #21201e;
                    }
                    p {
                        font-size: 14px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.36;
                        letter-spacing: normal;
                        text-align: left;
                        color: #21201e;
                    }
                }
            }
            .cart-menu-list-right {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.86;
                letter-spacing: normal;
                text-align: left;
                color: #2e2d2b;
                padding-left: 12px;
                padding-top: 18px;
                select{
                  border:none;
                  background: white;
                }
                .cart-item-price {
                    padding-right: 64px;
                }
                .cart-item-option {
                    padding-right: 82px;
                }
                .cart-item-qty {
                    color: #f48131;
                    padding-right: 76px;
                }
                .cart-item-remove {
                    a {
                        color: #2e2d2b;
                    }
                }
            }
        }
        .menu-list-pay {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            padding-top: 16px;
            margin-bottom: 20px;
            padding-bottom: 10px;
            .menu-list-pay-amout {
                padding-left: 37px;
            }
            .menu-list-pay-total {
                padding-left: 3px;
                .custom-nav {
                    .list-total-title {
                        h5 {
                            font-size: 20px;
                            font-weight: bold;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.35;
                            letter-spacing: normal;
                            text-align: left;
                            color: #21201e;
                            .total-price {
                                font-size: 20px;
                                font-weight: bold;
                                font-style: normal;
                                font-stretch: normal;
                                line-height: 1.35;
                                letter-spacing: normal;
                                text-align: left;
                                color: orange;
                                padding-right: 54px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .page-cart {
        .page-cart-menu {
            .cart-menu {
                display: none;
            }
            .cart-menu-list {
                .cart-menu-list-right {
                    .cart-item-qty {
                        padding-left: 20px;
                        padding-right: 40px !important;
                    }
                    .cart-item-remove {
                        a {
                            cursor: pointer;
                        }
                    }
                    .cart-item-option {
                        padding-right: 40px !important;
                    }
                }
                .cart-menu-list-left {
                    padding-bottom: 0;
                }
            }
            .menu-list-pay {
                .menu-list-pay-amout {
                    margin-left: 96px !important;
                }
                .menu-list-pay-total {
                    .list-total-title {
                        margin-left: 32px !important;
                        padding-bottom: 25px !important;
                    }
                    .payment {
                        margin-left: 101px !important;
                        margin-bottom: 39px !important;
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .page-cart {
        .page-cart-menu {
            padding-top: 15px;
            .cart-menu {
                .cart-menu-title {
                    text-align: center;
                }
                .cart-list {
                    .nav-list-title {
                        li {
                            padding-right: 61px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
            .cart-menu-list {
                .cart-menu-list-right {
                    margin-bottom: 15px;
                    .cart-item-price {
                        padding-right: 70px;
                        margin-left: 9px;
                    }
                    .cart-item-option {
                        padding-right: 103px;
                    }
                    .cart-item-qty {
                        padding-right: 76px;
                    }
                }
            }
            .menu-list-pay {
                .menu-list-pay-amout {
                    margin-left: 172px;
                }
                .menu-list-pay-total {
                    .list-total-title {
                        margin-left: 113px;
                        padding-bottom: 25px;
                    }
                    .payment {
                        margin-left: 209px;
                        margin-bottom: 47px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .page-cart {
        .page-cart-menu {
            .cart-menu {
                .cart-list {
                    li {
                        padding-right: 18px !important;
                    }
                }
            }
            .cart-menu-list {
                .cart-menu-list-right {
                    .cart-item-price {
                        padding-right: 30px;
                    }
                    .cart-item-option {
                        padding-right: 49px;
                    }
                    .cart-item-qty {
                        padding-right: 47px;
                    }
                }
            }
        }
        .menu-list-pay {
            .menu-list-pay-total {
                .payment {
                    margin-top: 50px;
                    margin-bottom: 46px;
                }
            }
        }
    }
}