.combo {
  padding: 0 0 30px 0;
  background-color: #f5f5f5;
  @include e("title") {
    @extend %title;
    p {
      padding: 0 20%;
    }
  }
  @include e("register") {
    border-radius: 9px;
    padding: 20px 30px;
    border: solid 1px #bbbbbb;
    background-color: #ffffff;
    h4 {
      font-family: $SegoeUISemiBold;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      color: #2e2d2b;
    }
    @include m("attribute") {
      display: table;
      width: 100%;
      .item {
        display: table-cell;
        float: none;
        strong {
          color: $dusty-orange;
          margin-left: 10px;
          font-family: $SegoeUIBold;
          font-size: 14px;
        }
        @media (max-width: 576px) {
          display: block;
          text-align: left !important;
          padding-bottom: 10px;
        }
      }
    }
    @include m("title") {
      margin-bottom: 39px;
    }
    @include m("description") {
      margin: 35px 0;
    }
    .item-part{
      -webkit-appearance: none;
      width: 100px;
      border: unset;
      border-bottom: 1px solid #bbbbbb;
      border-radius: unset;
      background-image: url(/assets/images/Dropdown.png),
        -webkit-linear-gradient(#fff, #fff 40%, #fff);
      background-position: 95% center;
      background-repeat: no-repeat;
    }
    select {
      width: 100px;
      -webkit-appearance: none;
      background-image: url(/assets/images/Dropdown.png),
        -webkit-linear-gradient(#fff, #fff 40%, #fff);
      background-position: 95% center;
      background-repeat: no-repeat;
      border: unset;
      border-bottom: 1px solid #bbbbbb;
      border-radius: unset;
    }
    label {
      margin-right: 10px;
      font-weight: bold;
      font-family: $SegoeUIBold;
    }
    p {
      font-size: 14px;
      color: #2e2d2b;
      font-family: $SegoeUI;
    }
    .description {
      margin: auto;
      width: 80%;
      border: unset;
      border-bottom: 1px solid #bbbbbb;
      border-radius: unset;
      background-image: url(/assets/images/icon-input.png),
        -webkit-linear-gradient(#fff, #fff 40%, #fff);
      background-position: 100% 90%;
      background-repeat: no-repeat;
    }
    a {
      font-size: 14px;
      color: #ffffff;
      text-decoration: none;
      padding: 9px 25px;
      background-color: $dusty-orange;
      border-radius: 4px;
    }
  }
  @include e("post--left") {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fdfdfb;
    margin: 50px 0;
    position: relative;
    img {
      position: absolute;
      top: 38px;
      left: 50%;
      z-index: 1;
      @media (max-width: 576px) {
        max-width: 45%;
        top: 20%;
        right: 0;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        max-width: 40%;
      }
      @media (min-width: 767.98px) and (max-width: 981.98px) {
        max-width: 45%;
      }
    }
    .post-left {
      padding: 50px 40px;
      .post-title {
        h1 {
          font-size: 50px;
          font-weight: bold;
          opacity: 0.3;
          color: #2e2d2b;
        }
        h3 {
          font-family: $SegoeUI;
          font-size: 18px;
          font-weight: bold;
          color: #2e2d2b;
          position: relative;
          &:after {
            content: " ";
            top: 23px;
            left: 0;
            position: absolute;
            border: 2px solid #f48131;
            width: 47px;
          }
        }
        p {
          padding: 30px 15% 30px 0;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: $SegoeUI;
        }
      }
      .post-content {
        table {
          td {
            padding: 23px 37px 12px 0;
            @media (min-width: 576px) and (max-width: 767.98px) {
              padding: 7px 20px 12px 0;
            }
            font-family: $SegoeUI;
            font-size: 14px;
          }
          .orange {
            color: #f48131;
          }
        }
      }
    }
    .post-right {
      background-color: #2e2d2b;
      height: 100%;
    }
  }
  @include e("post--right") {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fdfdfb;
    margin: 50px 0;
    position: relative;
    img {
      @media (max-width: 576px) {
        max-width: 45%;
        top: 20%;
        left: 0;
      }
      @media (min-width: 576px) and (max-width: 767.98px) {
        max-width: 40%;
      }
      @media (min-width: 767.98px) and (max-width: 981.98px) {
        max-width: 45%;
      }
      position: absolute;
      top: 12%;
      left: 9%;
      right: auto;
      z-index: 1;
    }
    .post-left {
      background-color: #f48131;
      height: 100%;
      position: relative;
    }
    .post-right {
      padding: 50px 40px;
      .post-title {
        h1 {
          font-size: 50px;
          font-weight: 700;
          opacity: 0.3;
          color: #2e2d2b;
        }
        h3 {
          font-family: $SegoeUI;
          font-size: 18px;
          font-weight: bold;
          color: #2e2d2b;
          position: relative;
          &:after {
            content: " ";
            top: 23px;
            right: 0;
            position: absolute;
            border: 2px solid #f48131;
            width: 47px;
          }
        }
        p {
          @media (min-width: 576px) and (max-width: 767.98px) {
            padding: 35px 0;
          }
          padding: 35px 0 35px 25%;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: $SegoeUI;
        }
      }
      .post-content {
        table {
          td {
            padding: 23px 0px 6px 50px;
            font-size: 14px;
            font-family: $SegoeUI;
            @media (max-width: 576px) {
              padding: 7px 0 12px 20px;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
              padding: 7px 20px 12px 0;
            }
          }
          .orange {
            color: #f48131;
          }
        }
      }
    }
  }
}
