.page-contact {
  padding-top: 50px;
  background-color: #f5f5f5;
  position: relative;
  .icon-facebook{
       position: absolute;
           top: 73%;
           left: 93%;
  }
  .header-contact {
    .header-contact-icon {
      padding-bottom: 30px;
    }
    .header-contact-title {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      color: #292828;
    }
  }
  .contact-note {
    padding-top: 46px;
  }
  .form-contact {
    .form-contact-left {
      margin-bottom: 14px;
    }
    span {
      color: red;
    }
    .form-contact-theme {
      .edit-padding {
        padding-right: 0;

        margin-top: 11px;
      }
      .custom-padding {
        padding-right: 57px;
        padding-left: 62px;
        input[type="text form-input"] {
          margin-bottom: 47px;
          padding-bottom: 97px;
          margin-top: 7px;
        }
        .icon-border{
                 position: absolute;
                 bottom: 53px;
                 right: 62px;
        }
        input {
          border-top: none;
          border-right: none;
          border-left: none;
          width: 100%;
        }
      }
    }
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding-top: 30px;
    padding-left: 45px;
    .form-contact-title {
      p {
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #292828;
      }
    }
    .custom-form-left {
      border-top: none;
      border-left: none;
      border-right: none;
      width: 338px;
    }
  }
  .edit-button {
    margin-top: 49px;
    width: 130px;
    height: 35px;
    border-radius: 4px;
    background-color: #f48131;
    color: #ffff;
    margin-bottom: 61px;
  }
}
