.post-detail {
  padding: 50px 0;
  background: #f5f5f5;
  @include e("img") {
    .img__main {
      margin-bottom: 10px;
    }
    .img__child .slick-slide{
      opacity: 0.5;
      cursor: pointer;
    }
    .img__child .slick-slide.slick-current{
      opacity: 1;
      img{
       border:0.5px solid #f48131;
     }
    }
  }
  
 
  @include e("content") {
    padding-left: 40px;
    .post-title {
      h3 {
        font-size: 25px;
        font-family: $SegoeUISemiBold;
        text-align: left;
        color: #3d3d3d;
        padding-bottom: 20px;
      }
      p {
        border-bottom: solid 1px #f48131;
        border-top: solid 1px #f48131;
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        color: #707070;
        padding: 15px 0;
      }
    }
    .post-attribute {
      .attribute {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .attr-title{
        font-family: $SegoeUIBold;
        font-size: 14px;
        color: #2e2d2b;
      }
      .attr-price{
        font-family: $SegoeUIBold;
        font-size: 18px;
        color: #f48131;
        padding-left: 20px;
        @media (max-width: 575.98px){
          padding: 0;
          display: inline-block;
        }
      }
      .attr-part{
        height: 19px;
        font-family: $SegoeUI;
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        @media (max-width: 575.98px){
          display: inline-block;
        }
      
      }
      .btn-cart {
        background: #f48131;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        color: #ffffff;
      }
      input {
        border: none;
        outline: none;
        border-bottom: 0.5px solid #1c1b1b;
        background: transparent;
        width: 50%;
        background-image: url(/assets/images/down.png),
          -webkit-linear-gradient(#f5f5f5, #f5f5f5 40%, #f5f5f5);
        background-position: 100% center;
        background-repeat: no-repeat;
      }
      .attr-head {
        font-family: $SegoeUIBold;
        font-size: 14px;
        font-weight: bold;
        color: #2e2d2b;
      }
      select {
        width: 100%;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
       
        background-position: 100% center;
        background-repeat: no-repeat;
        appearance: none;
        border: none;
        outline: none;
        border-bottom: 1px solid #707070;
      }
      .attr-select{
        width: 100%;
        background-image: url(/assets/images/down.png),
        -webkit-linear-gradient(#f5f5f5, #f5f5f5 40%, #f5f5f5);
      }
      .attr-select2 {
        width: 60%;
        background-image: url(/assets/images/dropdown.png),
        -webkit-linear-gradient(#f5f5f5, #f5f5f5 40%, #f5f5f5);
      }
      // .fa-select {
      //   position: relative;
      //   float: right;
      //   top: -18px;
      // }
    }
  }
  @media (max-width: 575.98px) {
    @include e("content") {
      padding: 0 10px;
      .post-title {
        padding: 20px 0;
        h3 {
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 767.98px) {
    @include e("content") {
      padding: 0 10px;
      .post-title {
        padding: 20px 0;
        h3 {
          text-align: center;
        }
      }
    }
  }
}
.heading-detail {
  padding: 50px 0;
  background-color: #ffffff;
  .horizontol-heading {
    h3 {
      font-family: $SegoeUISemiBold;
      font-size: 25px;
      font-weight: bold;
      font-style: normal;
      color: #21201e;
    }
    p {
      font-family: $SegoeUI;
      font-size: 14px;
      font-weight: 400;
      color: #21201e;
      margin: 40px 0;
    }
  }
}
.like {
  padding: 50px 0;
  background-color: #f5f5f5;
  @include e("heading") {
    padding-bottom: 30px;
    h3{
      font-size: 20px;
      font-family: $SegoeUISemiBold;
      font-weight: bold;
      color: #21201e;
    }
  }
  @include e("item") {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 37px;
    @media (max-width: 575.98px) {
      margin: 0 20px 37px 20px;
      img{
        width: 100%;
      }
    }
    @include m("content") {
      padding: 20px 12px;
      h4 {
        font-family: $SegoeUISemiBold;
        font-size: 16px;
        font-weight: 600;
        color: #1c1b1b;
        margin-bottom: 25px;
      }
      span {
        font-family: $SegoeUI;
        font-size: 14px;
        font-weight: 600;
        color: #f48131;
      }
      a {
        background: #f48131;
        padding: 5px 19px;
        color: #ffffff;
        font-size: 14px;
        float: right;
      }
    }
  }
}
