.footer{
	background-color: #2e2d2b;
	color: #ffffff;
	.container{
		padding-top: 35px;
		h3{
			font-size: 25px;
			line-height: 33px;
			font-family: $SegoeUIBold;
		}
		.contact{
			text-align: center;
			display: flex;
			margin-top: 20px;
			@media (max-width: 767px){
				margin-bottom: 35px;
			}
			a{
				width: 33px;
				height: 33px;
				border: 1px solid #c4c4c4;
				border-radius: 50%;
				justify-content: center;
				margin: auto;
				@media (max-width: 767px){
					margin-right: 50px;
				}
				margin-left: 0;
				color: #ffffff !important;
				i{
					font-size: 20px;
					margin-top: 5px;
				}
			}
		}
		.list-unstyled{
			line-height: 33px;
			display: flex;
			li{
				display: inline-block;
				margin: auto;
				font-size: 14px;
				margin-left: 0;
				a{
					color: #ffffff; 
					font-family: $SegoeUISemiBold;
				}
			}
		}
		.address{
			margin-top: 25px;
			p{
				margin-bottom:20px;
			}
		}
		.register{
			.text-uppercase{
				line-height: 33px;
				letter-spacing: normal;
				text-align: left;
				font-weight: normal;
  				font-style: normal;
			}
			form{
				position: reletive !important;
				input[type="text"]{
					font-size: $font_size_small;
					width: 100%;
					line-height: 28px;
					padding: 0 5px;
					font-style: italic;
				}
				button[type="submit"]{
					width: 55px;
					height: 30px;
					border: none !important;
					background: white !important;
					outline: none !important;
					position: absolute !important;
					line-height: 28px;
					right: 16px;
					top: 50px;
					font-style: italic;
					@media (min-width: 768px) and (max-width: 991px) {
						top: 83px;
					}
				}
			}
			.bocongthuong{
				width: 120px;
				margin-top: 25px;
				margin-bottom: 25px;
				margin-left: -11px;
				img{
					max-width: 100%;
				}
				>p{
					margin-bottom: 25px;
				}
			}
		}
	}
}