.top-menu {
  background-color: #292929;
  .content_left {
    padding: 12px 0;
    p {
      font-family: $SegoeUI;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: normal;
      color: #ffffff;
      margin-bottom: 0;
      span {
        padding-left: 10px;
      }
    }
  }
  .content_right {
    img{
      width: 24px;
    border-radius: 50%;
    }
    padding: 12px 0;
    a {
      font-family: $SegoeUI;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: normal;
      color: #ffffff;
      margin-bottom: 0;
      padding-right: 2px;
    }
  }
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.77);
  .form-user{
    .custom-dropdown{
      color: #292929;
    }
  }
}
.main-menus {
  background-color: #292929;
}
.navbar {
  background-color: #292929;
  padding: 0;
  .logo {
    padding: 0;
    height: auto;
    width: 60px;
    img {
      width: 100%;
      height: auto;
    }
}
  .main-menu {
    .active{
      position: relative;
      > a {
        padding: 0 20px;
        font-family: $SegoeUISemiBold;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        &::after{
          content: "";
          height: 2px;
          position: absolute;
          bottom: -17px;
          left: 20px;
          right: 20px;
          width: auto;
          background-color: #f48131;
        }
      }
    }
    li {
      position: relative;
      > a {
        padding: 0 20px;
        font-family: $SegoeUISemiBold;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        &:hover::after,
        &:focus::after {
          content: "";
          height: 2px;
          position: absolute;
          bottom: -17px;
          left: 20px;
          right: 20px;
          width: auto;
          background-color: #f48131;
        }
      }
    }
    .icon-menu {
      position: relative;
      .search-body {
        top: 65px;
        opacity: 0;
        right: 0;
        width: 300px;
        height: auto;
        z-index: 999;
        padding: 15px;
        position: absolute;
        visibility: hidden;
        background-color: #ffffff;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1); 
        .search-form {
          width: 100%;
          height: auto;
          position: relative; 
          .search-input {
            width: 100%;
            height: 50px;
            padding: 0px 20px;
            border-radius: 3px;
            border: 1px solid #f0f0f0;
            background-color: #f7f7f7; 
            &:focus {
              outline: none;
              border-color: $dusty-orange;
             }
           }
           .search-close {
            top: 50%;
            z-index: 1;
            right: 5px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            position: absolute;
            border-radius: 3px;
            color: #ffffff;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background-color:$dusty-orange; 
            }
          }
        }
        .search-open {
          opacity: 1;
          visibility: visible; 
        }
      
      .search-btn{
        background: transparent;
        border: unset;
        i {
          color: #ffffff;
          font-size: 20px;
          font-weight: 400;
        }
      }
      padding-left: 20px;
      a {
        padding: 0 10px;
        i {
          color: #ffffff;
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }
}
@media (max-width: 575.98px) {
  .top-menu {
    .custom-padding{
      padding:0;
      padding-left: 13px;
    }
    span {
      display: none;
    }
    .content_right {
      padding: 9px 0;
    }
    .nav-login{
          padding-top: 10px;
          padding-left: 34px;
          li{
                padding-right: 2px;
          }
          .nav-login__out{
                padding-left: 7px;
                padding-top: 3px;
          }
    }
    .content-right__avatar{
      border-radius: 50%;
      width: 31px;
      padding-right: 5px;
    }
    .content-right__nickname{
      color: white;
    padding-top: 3px;
    }
    .content-right__logout{
          display: block;
    color: rgba(53, 76, 96, 0.6);
    border-radius: 100px;
    border: 1px solid #E2EBF2;
    padding: 0 10px;
    font-size: 11px;
    margin: 0 32px 0 0;
    height: 22px;
    line-height: 22px;
    -webkit-transition: border-color 0.3s,color 0.3s,background-color 0.3s;
    transition: border-color 0.3s,color 0.3s,background-color 0.3s;
    a{
      color:white;
    }
    }
  }
  .main-menus {
    button {
      margin-left: auto;
    }
    .main-menu {
      li {
        padding: 5px 0;
        a {
          padding: 0;
          &:hover::after,
          &:focus::after {
            background-color: transparent;
          }
        }
      }
      .icon-menu {
        padding: 0;
        a {
          padding: 0;
        }
      }
    }
  }
  
}
@media (min-width: 576px) and (max-width: 767.98px) {
  
  .top-menu {
    span {
      display: none;
    }
    .content_right {
      padding: 9px 0;
    }
  }
  .main-menus {
    button {
      margin-left: auto;
    }
    .main-menu {
      li {
        padding: 5px 0;
        a {
          padding: 0;
          &:hover::after,
          &:focus::after {
            background-color: transparent;
          }
        }
      }
      .icon-menu {
        padding: 0;
        a {
          padding: 0;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: row;
  }
  .main-menu {
    li {
      padding: 5px 0;
      a {
        padding: 0 13px !important;
        &:hover::after,
        &:focus::after {
          background-color: transparent;
        }
      }
    }
    .icon-menu {
      padding: 0;
      a {
        padding: 0;
      }
    }
  }
  button {
    margin-left: auto;
  }
}