.homepage {
  background-color: #fcfcfc;
  .slider {
    .carousel .carousel-item {
      height: 90vh;
      width: 100%;
    }
    .carousel-caption {
      position: absolute;
      right: 0;
      left: 0;
      top: 150px;
      width: 55%;
      margin: 0px auto;
      text-align: center;
      h1 {
        font-family: $SegoeUISemiBold;
        font-size: 60px;
        text-transform: uppercase;
      }
      h2 {
        font-family: $SegoeUISemiBold;
        font-size: 40px;
        text-transform: uppercase;
        color: #fdfdfb;
      }
      p {
        font-size: 16px;
        color: #fff;
        margin: 15px 0px 20px 0px;
      }
      .slide-button {
        margin-top: 10vh;
        @extend %cta;
        color: #fdfdfb;
        a {
          border-bottom: 1px solid #fdfdfb;
          font-size: 14px;
          text-decoration: none;
          font-weight: 600;
          position: relative;
         }
      }
      @media (max-width: 575.98px) {
        top: 100px;
        .horizontal-heading {
          h1 {
            font-size: 36px;
          }
          h2 {
            font-size: 26px;
          }
          p {
            font-size: 14px;
          }
        }
      }
      @media (min-width: 575.98px) and (max-width: 767px) {
        top: 100px;
        .horizontal-heading {
          h1 {
            font-size: 36px;
          }
          h2 {
            font-size: 26px;
          }
          p {
            font-size: 14px;
          }
        }
        .slide-button {
          padding-top: 25px;
        }
      }
    }
    .slide-item-1,
    .slide-item-2 {
      background: url("../../assets/images/slider-2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .slide-item-2 {
      background: url("../../assets/images/bg.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .slide-item-1::before,
    .slide-item-2::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: rgba(0, 0, 0, 0.3);
     }
  }
  .about {
    position: relative;
    padding-bottom: 160px;
    &:after,
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &:before {
      background-image: url("/assets/images/sakura01.png");
      background-repeat: no-repeat;
    }
    &:after {
      background-image: url("/assets/images/sakura.png");
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 85%;
    }
    @media screen and (max-width: 768px) {
      &:after,
      &:before {
        background-size: 40%;
      }
    }
    @media screen and (max-width: 1024) {
      &:after,
      &:before {
        background-size: 60%;
      }
    }
    @include e("title") {
      @extend %title;
    }
    @include e("cta") {
      @extend %cta;
      margin-top: 50px;
      
    }
  }
  .today-menu {
    padding-bottom: 10px;
    background: url("/assets/images/footerbg.png") #f5f5f5 no-repeat;
    background-size: cover;
    background-position: center bottom;
    @include e("title") {
      @extend %title;
      .title_content {
        font-family: $SegoeUIBold;
      }
    }
    @include e("items") {
      box-shadow: 0 3px 6px 0 #0000004d;
      margin: 0;
      .menu-item {
        padding-top: 65px;
        padding-bottom: 50px;
        padding-left: 0;
        &:first-child {
          background-color: #f7f7f7;
        }
        &:last-child {
          background-color: #ffffff;
        }
        @include e("image") {
          max-width: 217px;
          img {
            width: 100%;
          }
        }
        @include e("info") {
          @media (max-width: 991px){
            padding: 0;
          }
          @include e("name") {
            color: #2e2d2b;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 10px;
          }
          @include e("price") {
            color: #2e2d2b;
            .price {
              color: $dusty-orange;
            }
          }
          @include e("cta") {
            // @extend %cta;
            // font-size: 11px;
            // margin-top: 50px;
            // @media (max-width: 991px){
            //   margin-top: 10px;
            // }
            button{
              padding: 5px 20px;
              border: none;
              border-radius: 5px;
              background: #f48131;
              color: #ffffff;
              @media (max-width: 991px) and (min-width: 768px){
                padding: 5px 13px;
              }
            }
          }
        }
      }
    }
  }
  .combo {
    @include e("title") {
      @extend %title;
      .title_content{
        font-family: $SegoeUIBold;
      }
    }
    @include e('items'){
      margin: 0;
    }
    @include e("item") {
      text-align: center;
      width: 340px;
      @media (max-width: 1199px) and (min-width: 992px){
        width: 305px;
      }
      margin: auto;
      padding: 30px 15px;
      box-shadow: 0 3px 6px 0 #00000029;
      background-color: #ffffff;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      @media (max-width: 768px){
        margin-top: 20px;
        &:first-child{
          margin-left: auto;
        }
        &:last-child{
          margin-right: auto;
        }
      }
      @media (max-width:991px) and (min-width: 768px){
        &:last-child{
          margin-right: auto;
          margin-top: 20px;
        }
      }
      strong{
        font-size: 18px;
        margin-bottom: 34px;
      }
      @include e("image") {
        max-width: 100%;
        height: 130px;
        margin: 20px 0;
        margin-top: 0;
        img{
          width: 100%;
        }
      }
      @include e("table-price"){
        table{
          width: 60%;
          height: 150px;
          margin: auto;
          line-height: 35px;
          text-align: center;
          margin-bottom: 34px;
          td{
            &:last-child{
              color: #f48131;
            }
          }
        }
      }
      @include e("table-special"){
        font-weight: bold;
      }
      p{
        font-style: italic;
        margin-bottom: 37px;
      }
      @include e("btn"){
        a{
          padding: 8px 45px;
          background-color: #f48131;
          color: #ffffff;
          border-radius: 5px;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
  .opinion{
    @include e("title"){
      @extend %title;
      padding-top: 100px;
      .title_content{
        font-family: $SegoeUIBold;
        text-transform: uppercase;
      }
    }
    @include e("items"){
      box-shadow: 0 3px 6px 0 #00000029;
      margin: 0;
      margin-top: 82px;
    }
    @include e("item-1"){
      position: relative;
      @media (max-width: 575px){
        height: 540px;
      }
      &:after,&:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      &:before {
        top: -50px;
        left: 0;
        background-image: url("/assets/images/sakura01.png");
        background-repeat: no-repeat;
      }
      &:after {
        left: -20px;
        bottom: 0;
        background-image: url("/assets/images/chef.png");
        background-repeat: no-repeat;
        background-position-y: 100%;
      }
      @media screen and (max-width: 768px) {
        &:after,
        &:before {
          background-size: 40%;
        }
      }
      @media screen and (max-width: 1024px) {
        &:after,
        &:before {
          background-size: 60%;
        }
      }
      .opinion__control{
        text-align: right;
        margin-top: 100px;
        @media (max-width: 767px) and (min-width: 575px){
          margin-top: 50px;
        }
        span{
          margin-left: 50px;
        }
      }
      .opinion__option{
        position: absolute;
        right: 20px;
        bottom: 0;
        ul{
          padding: 0;
          list-style: none;
          .active{
            background-color: #f48131;
          }
          li{
            width: 9px;
            height: 9px;
            background-color: #d9d9d9;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }
    @include e("item-2"){
      background-color: #f48131;
      .melancholy{
        padding: 100px 0;
        height: 540px;
        .slick-slide{
          width: 252px !important;
          margin: 0 10px;
        }
        @include e("item"){
          width: 252px;
          margin: auto;
          text-align: center;
          box-shadow: 0 3px 6px 0 #00000029;
          background-color: #ffffff;
          padding: 30px 15px 45px 15px;
          .image{
            img{
              width: 120px;
              height: 120px;
            }
          }
          .name{
            font-weight: bold;
            margin: 15px 0 30px 0;
          }
        }
      }
    }
  }
  .partner{
    @include e("title"){
      @extend %title;
      .title_content{
        font-family: $SegoeUIBold;
      }
    }
    @include e("content"){
      padding-bottom: 57px;
      position: relative;
      height: 170px;
      .slick-slide{
        margin: 0 5px;
      }
      .partner__image{
        width: 168px;
        margin: auto;
        border: solid 1px #c3c3c3;
        padding: 20px 24px;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
      .pre, .next{
        position: absolute;
        top: 22%;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        box-shadow: 0 3px 6px 0 #00000029;
        z-index: 1;
        border: none;
        outline: none;
      }
      .pre{
        left:-15px;
        background: url(/assets/images/left_1.png) #ffffff no-repeat;
        background-position: center;
      }
      .next{
        right:-15px;
        background: url(/assets/images/right_1.png) #ffffff no-repeat;
        background-position: center;
      }
    }
  }

}