.page-infor {
    padding-top: 50px;
    padding-bottom: 82px;
    background-color: #f5f5f5;
    .custom-padding {
        padding: 0;
    }
    .page-infor-form {
        .page-background {
            background-image: url(/assets/images/background.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: 100%;
            padding: 0;
            padding-bottom: 76px;
            height: 708px;
            .overlay {
                background: black;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.5;
            }
        }
        .page-background-right {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            padding-top: 59px;
            padding-left: 60px;
            padding-right: 100px;
        }
        .page-infor-form-left {
            padding-top: 70px;
            padding-bottom: 50px;
            border-bottom: 2px solid white;
            margin-left: 49px;
            margin-right: 49px;
        }
        .page-infor-menu-left {
            padding-left: 79px;
            padding-top: 24px;
            padding-bottom: 31px;
            .page-infor-menu-left-infor {
                a:hover {
                    color: #f48131;
                }
                a {
                    color: #ffffff;
                    text-decoration: none;
                }
                i {
                    padding-right: 10px;
                }
                .custom-arrow {
                    padding-left: 15px;
                }
            }
        }
        .form-list-item {
            padding-top: 19px;
            padding-bottom: 24px;
            margin-left: 49px;
            margin-right: 49px;
            border-top: 2px solid #ffffff;
            color: #ffffff;
            padding-left: 36px;
            p {
                padding-left: 8px;
            }
            a {
                color: #ffffff;
                text-decoration: none;
            }
            a:hover {
                color: #f48131;
            }
        }
        .page-infor-form-left-avatar {
            width: 100px;
            height: 100px;
            margin-left: 10px;
        }
        .page-infor-form-left-name {
            font-family: SegoeUI;
            font-size: 18px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #ffffff;
            padding-left: 26px;
            padding-top: 19px;
        }
        .infor-form-right {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            padding-right: 90px;
            padding-left: 60px;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: left;
            color: #21201e;
            padding-top: 117px;
            .form-right-edit {
                .custom-input {
                    border-top: none;
                    border-right: none;
                    border-left: none;
                }
                .custom-row {
                    padding-bottom: 28px;
                }
                .form-right__submit {
                    padding-top: 71px;
                    padding-bottom: 262px;
                }
            }
        }
        //    Page inforcombo
        .page-infor-combo {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            padding-left: 60px;
            padding-right: 90px;
            padding-top: 118px;
            padding-bottom: 455px;
            .custom-hr {
                margin-top: 0;
            }
            .infor-combo-bought {
                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                color: #21201e;
            }
            .infor-combo-title {
                font-size: 18px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: normal;
                color: #f48131;
            }
            .infor-combo__qty {
                .qty {
                    font-weight: bold;
                }
            }
        }
        // change infor
        .page-change-infor {
            font-size: 15px;
            font-weight: normal;
            font-style: italic;
            font-stretch: normal;
            letter-spacing: normal;
            color: #21201e;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            .change-infor__name {
                input {
                    border-left: none;
                    border-top: none;
                    border-right: none;
                }
            }
            .form-change-infor {
                padding-left: 60px;
                padding-right: 60px;
                padding-top: 117px;
                .note{
                    padding-top: 10px;
                }
                .change-infor {
                    padding-bottom: 20px;
                    .icon-input-calendar {
                        margin-right: 50px;
                        width: 100%;
                        border-radius: 0;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -o-appearance: none;
                        background-image: url(/assets/images/calendar.png);
                        background-position: 100% center;
                        background-repeat: no-repeat;
                        appearance: none;
                        outline: none;
                    }
                    .icon-select-down {
                        background: white;
                        width: 100%;
                        border-radius: 0;
                      -webkit-appearance: none;
                        -moz-appearance: none;
                        -o-appearance: none;
                        background-image: url(/assets/images/down.png);
                        background-position: 100% center;
                        background-repeat: no-repeat;
                        appearance: none;
                        outline: none;
                        border: 1px solid #ced4da;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        margin-top: 16px;
                        padding-left: 11px;
                        padding-bottom: 10px;
                    }
                }
                .change-infor__address {
                    padding-bottom: 0;
                    input {
                        border-top: none;
                        border-right: none;
                        border-left: none;
                    }
                }
                .chage-infor-submit {
                    padding-top: 49px;
                    padding-bottom: 140px;
                }
            }
        }
        //page-history
        .page-history {
            height: 708px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            padding-left: 60px;
            padding-right: 92px;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            .page-history__item {
                border-bottom: 1px solid #d4d3d3;
                padding-top: 21px;
                padding-bottom: 5px;
                .history__item-price {
                    color: #f48131;
                }
            }
            .page-history__menu {
                padding-top: 67px;
                padding-bottom: 61px;
                border-bottom: 1px solid #d4d3d3;
                .nav-mobile {
                    display: none;
                }
                .custom-navbar {
                    a {
                        font-size: 14px;
                        font-weight: bold;
                        font-style: normal;
                        font-stretch: normal;
                        letter-spacing: normal;
                        color: #7b7b7b;
                    }
                    .active {
                        a {
                            color: #21201e;
                            border-bottom: solid 2px #f48131;
                        }
                    }
                    li {
                        border-right: 1px solid #d4d4d4;
                    }
                    .dont-border {
                        border-right: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .page-infor {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #f5f5f5;
        padding-left: 15px;
        padding-right: 15px;
        .page-infor-form {
            .infor-form-right {
                padding-top: 30px;
                .form-right-edit {
                    .form-right__submit {
                        padding-top: 37px;
                        padding-bottom: 99px;
                    }
                }
            }
            .page-infor-combo {
                padding-top: 38px;
                padding-bottom: 71px;
            }
            .page-change-infor {
                .form-change-infor {
                    padding-left: 9px;
                    padding-right: 14px;
                    padding-top: 48px;
                }
            }
            .page-history {
                height: 351px;
                padding-left: 17px;
                padding-right: 12px;
                .page-history__menu {
                    padding-top: 8px;
                    padding-bottom: 0px;
                    .nav-desktop {
                        display: none;
                    }
                    .nav-mobile {
                        display: block;
                    }
                    .custom-navbar {
                        li {
                            border-right: none;
                        }
                    }
                    .custom-arrow {
                        padding-left: 8px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .page-infor {
        .page-infor-form {
            .page-infor-menu-left {
                padding-left: 32px;
            }
            .form-list-item {
                padding-top: 19px;
                padding-bottom: 24px;
                margin-left: 0px;
                margin-right: 0px;
                border-top: 2px solid #ffffff;
                color: #ffffff;
                padding-left: 35px;
            }
            .page-infor-form-left {
                margin-left: 0px;
                margin-right: 0px;
            }
            .page-infor-combo {
                padding-bottom: 396px;
            }
            .infor-form-right {
                padding-top: 91px;
                padding-right: 20px;
                padding-left: 17px;
            }
            .page-background {
                display: none !important;
            }
        }
    }
}

;
@media(max-width:991px) {
    .page-infor {
        .page-infor-form {
            .page-background {
                display: none;
            }
        }
    }
}