.login {
  background: #f5f5f5;
  padding: 50px 0;
  @include e("content") {
    background: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }
  @include e("img") {
    background: url("/assets/images/login-bg.png") no-repeat;
    background-size: cover;
    background-position: 0;
    width: auto;
    height: 100%;
  }
  @include e("form") {
    padding: 32px 25px 50px 25px;
    .check-box {
      padding: 40px 0 50px 0;
    }
    @include m("title") {
      margin-bottom: 40px;
    }
    .forgot-pw{
      padding-top: 25px;
    }
    h3 {
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      color: #21201e;
      font-family: $SegoeUISemiBold;
    }
    label {
      font-family: $SegoeUISemiBold;
      font-size: 15px;
      font-weight: 600;
      color: #010101;
      margin: 0;
    }
    small {
      font-family: $SegoeUI;
      font-size: 13px;
      font-weight: normal;
      font-style: italic;
      color: #919090;
    }
    input {
      border: transparent;
      border-bottom: 1px solid #919090;
      border-radius: 0;
      padding: 0;
    }
    a {
      display: block;
      margin-bottom: 10px;
      width: 100%;
      font-size: 15px;
      font-weight: 600;
      color: #ffffff;
      font-family: $SegoeUI;
    }
    .btn-login {
      height: 35px;
      border: solid 1px #707070;
      background-color: #272727;
    }
    .btn-facebook {
      height: 35px;
      border: solid 1px #707070;
      background-color: #1f72c5;
    }
    span {
      font-size: 15px;
      font-weight: normal;
      text-align: left;
      color: #707070;
      font-family: $SegoeUI;
      strong {
        font-weight: 600;
        color: #272727;
        font-family: $SegoeUISemiBold;
      }
    }
    .text-mured {
      font-style: italic;
      color: #919090;
      font-family: "SegoeUI";
      font-size: 14px;

    }
    .label-check {
      font-family: $SegoeUI;
      font-size: 15px;
      font-weight: normal;
      font-style: italic;
      color: #010101;
    }
  }
  @include e("footer") {
    padding-top: 50px;
  }
}
