.menu_month{
  .introduce {
    background: #f5f5f5;
    @include e("title"){
      @extend %title;
      .title_content{
        font-family: $SegoeUIBold;
      }
    }
    .about__content{
      >div{
        padding: 0;
      }
      p{
        margin-bottom: 35px;
      }
    }
  }
  .combo1 {
    box-shadow: 0 3px 6px 0 #00000029;
    padding-bottom: 20px;
    .col-md-4 {
      padding-right: 0;
      width: 100%;
      a {
        line-height: 28px;
        color: #aaaaaa;
        font-size: 16px;
        font-family: $SegoeUISemiBold;
        &:last-child {
          color: #f48131;
        }
      }
      @media (max-width: 767px) and (min-width: 350px) {
        padding-right: 15px;
        .control,
        .contact {
          width: 321px;
          margin: auto;
        }
      }
      @media (max-width: 350px) {
        padding-right: 15px;
      }
      .contact {
        background: url(/assets/images/18.png);
        background-size: cover;
        background-position: center;
        padding-right: 0;
        height: 483px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 29px;
        button {
          background: none;
          border: none;
          float: left;
          padding: 0;
          line-height: 36px;
          font-family: $SegoeUIBold;
          text-align: center;
          outline: none;
          cursor: pointer;
        }
        .menu {
          width: 40%;
        }
        .carculer {
          width: 60%;
          background-color: #f2f2f2;
          i{
            margin-right: 15px;
          }
        }
        .content {
          padding-top: 60px;
          padding-left: 35px;
          a {
            color: #2e2d2b;
            font-size: 18px;
            font-family: $SegoeUIBold;
            line-height: 50px;
          }
          p {
            margin-bottom: 0;
            line-height: 25px;
            &:nth-child(4) {
              font-size: 18px;
              font-family: $SegoeUIBold;
            }
          }
          h3{
            margin-top: 15px;
            &:after{
              display: block;
              content: "";
              width: 50px;
              height: 0;
              border: 1px solid #2e2d2b;
            }
          }
        }
      }
    }
    .menu-week {
      padding-left:0; 
      > .row {
        padding: 10px 0;
        border-bottom: 1px dashed #2e2d2b;
        margin: 0;
        margin-left: 50px;
        @media (max-width: 767px){
          margin-left: 15px
        }
        &:first-child {
          padding: 0;
          margin: 0;
          @media (max-width: 767px){
            margin-left: 15px
          }
          text-align: center;
          line-height: 36px;
          background-color: #f48131;
          font-family: $SegoeUIBold;
          color: white;
          border: none;
        }
        > .col-1 {
          font-weight: bold;
          padding: 0;
        }
        .combo{
          background: #b5d4d6 !important;
          select{
            background: none;
            border: none;
            font-weight: bold;
          }
        }
        > .combo-item {
          padding: 0;
          > p {
            background-color: #f48131;
            line-height: 40px;
            border-radius: 10px;
            color: #ffffff;
            width: 40px;
            height: 40px;
            text-align: center;
          }
        }
        p {
          margin: 0;
        }
      }
      a {
        width: 155px;
        height: 35px;
        line-height: 35px;
        background: #f48131;
        border: none;
        color: #ffffff;
        border-radius: 5px;
        margin-left: 20px;
        cursor: pointer;
        outline: none;
        text-align: center;
        &:last-child {
          background: #a5a5a5;
        }
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  .product-relate {
    background-color: #f5f5f5;
    .box-product {
      padding: 0 15px;
      .product-item {
        width: 255px;
        margin: auto;
        background-color: #ffffff;
        margin-bottom: 37px;
        text-align: left;
        &:nth-child(4n) {
          margin-right: 0;
        }
        &:nth-child(4n + 1) {
          margin-left: 0;
        }
        &:last-child {
          background: none;
          text-align: center;
          > button {
            width: 125px;
            height: 35px;
            line-height: 35px;
            background-color: #f48131;
            border: none;
            border-radius: 5px;
            color: #ffffff;
            margin: 33px auto;
            cursor: pointer;
          }
        }
        @media (max-width: 489px) {
          &:nth-child(2n) {
            margin: auto;
            margin-bottom: 37px;
          }
          &:nth-child(2n + 1) {
            margin: auto;
            margin-bottom: 37px;
          }
        }
        @media (max-width: 550px) and (min-width: 490px) {
          width: 220px;
          &:nth-child(4n) {
            margin-right: auto;
          }
          &:nth-child(4n + 1) {
            margin-left: auto;
          }
        }
        @media (min-width: 550px) and (max-width: 768px) {
          width: 240px;
          &:nth-child(4n) {
            margin-right: auto;
          }
          &:nth-child(4n + 1) {
            margin-left: auto;
          }
        }
        @media (min-width: 768px) and (max-width: 992px) {
          width: 220px;
          &:nth-child(2n) {
            margin-left: 0;
            margin-right: auto;
          }
          &:nth-child(2n + 1) {
            margin-left: 0;
          }
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          width: 220px;
        }
        .image {
          width: 100%;
          display: table-cell;
          vertical-align: middle;
          img {
            width: 100%;
          }
        }
        .content {
          font-weight: 600;
          padding: 15px 10px;
          .price {
            color: #f48131;
            font-family: $SegoeUIBold;
          }
          > p {
            font-size: 16px;
            font-family: $SegoeUIBold;
          }
          button {
            width: 53px;
            height: 27px;
            border: none;
            background-color: #f48131;
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  } 
}