.order-week{
	padding-bottom: 100px;
	background-color: #f5f5f5;
	@include e("title"){
		@extend %title;
		padding-bottom: 0;
		margin-left: 20%;
		@media (max-width: 1199px){
			margin: 0;
		}
		.title_content{
			font-family: $SegoeUIBold;
			position: relative;
			&:before, &:after{
				position: absolute;
				bottom: 13px;
				width: 38%;
				@media (min-width: 768px) and (max-width: 992px){
					width: 35%;
				}
				@media (min-width: 575px) and (max-width: 767px){
					width: 30%;
				}
				@media (max-width: 575px){
					display: none;
				}
				height: 1px;
				display: block;
				content: "";
				border: 1px solid #f48131;
			}
			&:before{
				@media (min-width: 1200px){
					display: none;
				}
				left: 0;
			}
			&:after{
				right: 0;
			}
		}
	}
	.order-week-heading{
		.contact{
			text-align: left;
			background-color: #ffffff;
			padding: 25px 0px;
			margin: 0;
			margin-bottom: 44px;
			.container-image{
				position: relative;
				@media (max-width: 1199px){
					display: none;
				}
				.image{
					position: absolute;
					top: -100px;
				}
			}
			.info-user{
				@media (min-width: 992px) and (max-width: 1199px){
					width: 50%;
				}
				.info-user-2{
					text-align: right;
					@media (max-width: 575px){
						text-align: left;
					}
					.control{
						margin-top: 130px;
						@media (max-width: 1199px){
							margin-top: 48px;
						}
						a{
							color: #f48131;
							&:last-child{
								margin-left: 55px;
							}
						}
					}
				}
			}
		}
	}
	.box-calendar{
		display: flex;
		border: 0.5px solid #c2c2c2;
		border-radius: 9px;
		background-color: #ffffff;
		margin-top: 20px;
		.active{
			border: 0.5px solid #f48131 !important;
			box-shadow: 0 3px 6px 0 #00000029;
			.calendar-item-header{
				p{
					color: #f48131 !important;
				}
			}
			.triangle{
				display: block !important;
			}
		}
		.calendar-item{
			margin: 0 auto;
			width: 217px;
			border: 0.5px solid #c2c2c2; 
			padding: 20px 0px;
			position: relative;
			@media (max-width: 575px){
				padding: 20px 5px;
			}
			@media (width: 568px) {
				padding: 20px 10px;
			}
			@media (width: 320px) {
				padding: 20px 1px;
			}
			&:first-child{
				border-bottom-left-radius: 9px;
				border-top-left-radius: 9px;
			};
			&:last-child{
				border-bottom-right-radius: 9px;
				border-top-right-radius: 9px;
			};
			.calendar-item-header{
				text-align: center;
				font-family: $SegoeUIBold;
				border-bottom: 1px solid #c2c2c2;
				p{
					color: #1c1b1b;
					margin: 0;
				}
			}
			.calendar-item-content{
				padding-top: 15px;
				padding-left: 15px;
				padding-right: 15px;
				color: #7b7b7b;
				p{
					margin: 0;
					&:first-child{
						margin-bottom: 15px;
					};
				}
				b{
					color: #2e2d2b;
				}
			}
			.calendar-item-footer{
				button{
					width: 100%;
					border: none;
					height: 25px;
					background: none;
					box-shadow: 0 -3px 6px 0 #0000001c;
					position: absolute;
					bottom: 0;
					font-family: $SegoeUIBold;
					cursor: pointer;
					outline: none;
					i{
						font-weight: bold;
						color: #7b7b7b;
					}
				}
			}
			.triangle{
				display: none;
				width: 0; 
				height: 0; 
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid #ffffff;
				// margin: auto;
				position: absolute;
				bottom: -9px;
				left: 43%;
			}
			.flatRoundedCheckbox{
				width: 25px;
				height: 11px;
				margin: 17.5px auto;
				position: relative;
				div{
					width: 100%;
					height:100%;
					background: #7b7b7b;
					border-radius: 50px;
					position: relative;
					top:-21px;
				}
				label{
					display: block;
					width: 13px;
					height: 13px;
					border-radius: 50px;
					-webkit-transition: all .5s ease;
					-moz-transition: all .5s ease;
					-o-transition: all .5s ease;
					-ms-transition: all .5s ease;
					transition: all .5s ease;
					cursor: pointer;
					position: absolute;
					top: -1px;
					z-index: 1;
					left: -1px;
					background: #FFF;
					box-shadow: 0 3px 6px 0 #00000029;
				}
				input[type=checkbox]{
					width: 0;
					height: 0;
					opacity: 0;
					&:checked ~div{
						background: #f48131;
					};
					&:checked ~	label{
						left: 15px;
					}
				}
			}
		}
	}
	.order-week-detail{
		padding: 0px 30px;
		@media (max-width: 575px) {
			padding: 0;
		}
		background-color: #ffffff;
		margin: 30px 0;
		border-radius: 9px;
		border: 1px solid #bcbcbc;
		&:last-child{
			padding-top: 20px;
		};
		@include e("demo"){
			padding-right: 0;
			@media (max-width:767px){
				padding-right: 15px;
			}
			p{
				margin-bottom: 0;
				line-height: 45px;
			}
			select{
				border: none;
				border-bottom: 1px solid #2e2d2b;
				width: 100%;
				padding: 6px 0;
				margin-bottom: 20px;
				outline: none;
				-webkit-appearance: none;
				background-image: url(/assets/images/down.png), -webkit-linear-gradient(#fff, #fff 40%, #fff);
				background-position: 95% center;
				background-repeat: no-repeat;
			}
			>.image{
				width: 100%;
				img{
					width: 100%;
				}
			}
			.order_cta{
				margin: 30px auto;
				a{
					padding: 8px;
					background: #448aff;
					color: #ffffff;
					border-radius: 5px;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
		@include e("ingredient"){
			padding-right: 0;
			padding-left: 35px;
			@media (max-width: 768px){
				padding-left: 0;
				padding-bottom: 100px;
			}
			>.row{
				margin: 10px 0;
				line-height: 29px;
				select{
					border: none;
					border-bottom: 1px solid #2e2d2b;
					width: 100%;
					padding: 1px 0;
					outline: none;
					-webkit-appearance: none;
					background-image: url(/assets/images/down.png), -webkit-linear-gradient(#fff, #fff 40%, #fff);
					background-position: 95% center;
					background-repeat: no-repeat;
				}
				input{
					width: 100%;
					border: none;
					border-bottom: 1px solid #2e2d2b;
					outline: none;
				}
			}
			.update_cta{
				position: absolute;
				right: 26px;
				bottom: 28px;
				a{
					width: 120px;
					padding: 7px 0;
					background: #f48131;
					border: none;
					color: #FFFFFF;
					border-radius: 5px;
				}
			}
		}
	}
}
