.form-payment{
	@include e("info"){
		padding-right: 0;
		padding-left: 11%;
		@media (max-width:1199px){
			padding: 0;
		}
		form{
			padding: 50px 0;
			padding-right: 100px;
			border-right: 1px solid #7b7b7b;
			@media (max-width:1199px) and (min-width: 992px){
				padding: 50px;
			}
			@media (max-width: 991px) and (min-width: 768px){
				padding: 50px 30px;
			}
			@media (max-width: 768px){
				padding: 50px 15px;
			}
			@media (max-width: 575px){
				border: none;
			}
			>.text-uppercase{
				font-weight: bold;
				line-height: 25px;
				color: #ffffff;
				padding:10px; 
				&:first-child{
					background-color: #f48131;
				}
			}
			.error{
				color:#ec2c0e;
			}
			.delivery{
				background-color: #7b7b7b;
			}
			label{
				span{
					color: #ec2c0e;
				}
			}
			input,select{
				font-size: 14px;
				outline: none !important;
			}
			select{
				-webkit-appearance: none;
				background-image: url(/assets/images/dropdown.png), -webkit-linear-gradient(#fff, #fff 40%, #fff);
				background-position: 95% center;
				background-repeat: no-repeat;
			}
			.type-payment{
				label{
					margin-bottom: 20px;
					b{
						font-size: 15px;
					}
				}
				p{
					font-weight: 600;
					input{
						margin-right: 10px;
					}
				}
			}
			.note{
				font-size: 15px;
				font-style: italic;
			}
			.payment__cta{
				@extend %cta;
				margin-top: 50px;
			}
		}
	}
	@include e("order"){
		padding: 50px;
		padding-right: 12%;
		@media (max-width:1199px) and (min-width: 992px){
			padding: 50px 65px;
		}
		@media (max-width: 991px) and (min-width: 768px){
			padding-right: 0%;
			padding: 50px 45px;
		}
		@media (max-width: 768px){
			padding-right: 0%;
			padding: 50px 30px;
		}
		background-color: #f5f5f5;
		>.row{
			padding: 15px 0;
			border-bottom: 1px solid #919090;
			&:first-child{
				padding-top: 0; 
			};
			&:last-child{
				border: none;
			};
			.form-payment__order__image{
				width: 91px;
				height: 63px;
				padding: 0;
				border: 1px dashed;
			}
			.ingredient{
				padding-left: 30px;
				@media (max-width: 991px){
					padding-left:15px;
				}
				padding-right: 0;
				b{
					font-size: 18px;
				}
				p{
					font-weight: 600;
					margin-top: 10px;
				}
				ul{
					padding: 0;
					margin-bottom: 0;
					list-style: none;
					li{
						line-height: 2;
						font-stretch: normal;
						letter-spacing: normal;
					}
				}
			}
			.price{
				font-size: 15px;
				text-align: right;
			}
			.note1{
				.form-group{
					margin: 0 !important;
					textarea{
						font-style: italic;
						-webkit-appearance: none;
						background: url(/assets/images/icon-input.png) no-repeat;
						background-position-x: 99%;
    					background-position-y: 90%;
					}
				}
			}
			.col-12{
				padding: 0;
				b,span{
					line-height: 40px;
				}
				p{
					line-height: 40px;
					margin: 0;
					font-style: italic;
				}
				.total-money{
					font-size: 18px;
					color: #f48131;
				}
			}
		}
	}
}