.overlay{
	width: 100%;
	height: 100%;
	background: rgba(46,45,43,0.5);
	position: fixed;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0;
}
.popup{
	width: 67%;
	@media (max-width: 1024px){
		width: 90%;
	}
	@media (min-width: 1025px) and (max-width: 1199px){
		width: 78%;
	}
	margin: 30px auto;
	padding: 30px 0;
	border-radius: 10px;
	background: #ffffff;
	position: relative;
	// display: none;
	>.row{
		padding: 0px 30px;
		@media (max-width: 767px){
			padding: 0 15px;
		}
		&:last-child{
			padding-top: 20px;
		};
		.popup__image{
			padding-right: 0;
			@media (max-width: 767px){
				padding-left: 0;
			}
			>.image{
				width: 277px;
				@media (min-width: 768px){
					width: 100%;
					height: 220px;
				}
				margin: auto;
				img{
					width: 100%;
				}
			}
			@include e("number"){
				margin-top: 20px;
				text-align: right;
				@media (max-width: 767px){
					margin:30px 0;
					text-align: center;
				}
				>input{
					width: 60px;
					border: none;
					border-bottom: 1px solid #2e2d2b;
					margin-left: 20px;
					background: none;
					outline: none;
				}
			}
		}
		.popup__content{
			padding-right: 0;
			padding-left: 35px;
			h4{
				font-size: 20px;
				font-family: $SegoeUIBold;
			}
			@media (max-width: 992px){
				padding-left: 0;
			}
			>.row{
				margin: 10px 0;
				line-height: 29px;
				select{
					border: none;
					border-bottom: 1px solid #2e2d2b;
					width: 90%;
					padding: 2px 0;
					-webkit-appearance: none;
					background-image: url(/assets/images/down.png), -webkit-linear-gradient(#fff, #fff 40%, #fff);
					background-position: 95% center;
					background-repeat: no-repeat;
					outline: none;
				}
				input{
					width: 100%;
					border: none;
					border-bottom: 1px solid #2e2d2b;
					outline: none;
				}
				&:last-child{
					margin-top: 40px;
					.price{
						font-size: 18px;
						color: #f48131;
					}
					button{
						border: none;
						background: none;
						border-bottom: 1px solid #2e2d2b;
						padding: 0;
					}
				};
			}
		}
		.box-item{
			position: relative;
			cursor: pointer;
			user-select: none;
			text-align: center;
			margin: 30px 15px 0 15px;
			@media (max-width: 422px){
				margin: 30px auto 0 auto;
			}
			input{
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0px;
				width: 0px;
				&:checked ~ .checkmark{
					background-color: #ccc;
					&:after{
						display: block;
					};
				}
			}
			.item{
				.content{
					margin-top: 10px;
				}
				p{
					margin: 0;
				}
				.image{
					width: 100%;
					height: 115px;
				}
			}
			.checkmark {
				position: absolute;
				top: 5px;
				right: 5px;
				height: 12px;
				width: 12px;
				background-color: #eee;
				border: solid 1px #707070;
				&:after{
					content: "";
					position: absolute;
					display: none;
					left: 1px;
					top: 1px;
					width: 8px;
					height: 8px;
					background: #f48131;
				};
			}
		}
	}
	>center{
		line-height: 44px;
		color: #ffffff;
		font-weight: 600;
		background-color: #f48131;
	}
	.close_popup{
		width: 28px;
		height: 28px;
		border-radius: 50%;
		text-align: center;
		background: #f48131;
		color: #ffffff;
		position: absolute;
		right: -10px;
		top: -10px;
		font-size: 20px;
		line-height: 22px;
		font-weight: bold;
	}
}