.page-register {
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #010101;
    padding-top: 70px;
    padding-bottom: 70px;
    .custom-col {
        padding: 0;
    }
    .register-form {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        .register-form__background {
            background: url("/assets/images/register_bg.png") no-repeat;
            background-size: cover;
            background-position: center;
            width: auto;
            height: 100%;
        }
        .form-left {
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            background-color: #ffffff;
            padding-left: 36px;
            padding-right: 35px;
            padding-top: 32px;
            .custom-input {
                border-top: none;
                border-left: none;
                border-right: none;
            }
            .form-title {
                h5 {
                    font-size: 20px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2;
                    letter-spacing: normal;
                    color: #21201e;
                }
            }
            .form_group__phone {
                padding-bottom: 10px;
            }
            .form_group__pass1 {
                padding-bottom: 10px;
            }
            .form_group__pass2 {
                padding-bottom: 49px;
            }
            .edit-btn {
                border-radius: 0;
                border: solid 1px #707070;
                background-color: #272727;
                margin-bottom: 93px;
            }
            .note {
                font-size: 14px;
                font-weight: normal;
                text-align: left;
                color: #707070;
                span {
                    color: #707070;
                }
            }
            .note {
                padding-bottom: 42px;
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .page-register {
        padding-top: 0px;
        padding-bottom: 10px;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}