.snack {
  .pagination {
    margin-top: 50px;
    ul {
      list-style: none;
      li {
        display: inline-block;
        width: 24px;
        height: 24px;
        text-align: center;
        border: 1px solid #afafaf;
        margin-left: 11px;
        cursor: pointer;
        a {
          color: #afafaf;
          font-size: 15px;
          font-weight: 600;
        }
      }
      .active {
        background-color: #f48131;
        a {
          color: #ffffff;
        }
      }
    }
  }
  background: #f5f5f5;
  padding: 50px 0;
  position: relative;
  @include e("sidebar") {
    border-top: 2px solid #f48131;
    background: #ffffff;
    @include m("menu") {
      padding: 0;
      border-left: 0.5px solid #d9d9d9;
      border-right: 0.5px solid #d9d9d9;
      li.treeview {
        padding: 13px 0 13px 20px;
        list-style: none;
        border-bottom: 0.5px solid #d9d9d9;
        a {
          font-size: 14px;
          font-family: $SegoeUISemiBold;
          text-align: left;
          color: #2e2d2b;
          text-decoration: none;
          &:hover,&:focus{
              color: #f48131;
          }
          i {
            padding-right: 15px;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
      li.active{
        a {
          font-size: 14px;
          font-family: $SegoeUISemiBold;
          text-align: left;
          color: #f48131;
          text-decoration: none;
          &:hover,&:focus{
              color: #f48131;
          }
          i {
            padding-right: 15px;
            font-size: 16px;
            font-weight: 700;
            color: #1c1b1b;
          }
        }
        .treeview-menu{
          li.active a{
            color: #f48131;
          }
        }
      }
      .treeview-menu li {
        padding: 5px 0;
        list-style: none;
        a {
          font-size: 14px;
          color: #a5a5a5;
        }
        
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        ul.treeview-menu {
          padding: 0;
        }
      }
    }
    @include m("header") {
      font-size: 14px;
      font-weight: bold;
      font-family: $SegoeUISemiBold;
      color: #2e2d2b;
    }
  }
  @include e("item") {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: 0 0 36px -14px;
    @media (max-width: 575.98px) {
      margin: 20px auto;
      img{
        width: 100%;
        height: auto;
      }
    }
    @include m("content") {
      padding: 20px 12px;
      h4 {
        font-family: $SegoeUI;
        font-size: 16px;
        font-weight: 600;
        color: #1c1b1b;
        margin-bottom: 25px;
      }
      span {
        font-family: $SegoeUI;
        font-size: 14px;
        font-weight: 600;
        color: #f48131;
      }
      a {
        background: #f48131;
        padding: 5px 19px;
        color: #ffffff;
        font-size: 14px;
        float: right;
      }
    }
  }
}
