<div class="homepage">
  <div class="slider">
    <div id="slider" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active slide-item-2">
          <div class="container">
            <div class="carousel-caption">
              <div class="horizontal-heading">
                <h2>Fit'n ngon</h2>
                <h1>Healthy food</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed to using 'Content here, content here',</p>
              </div>
              <p class="slide-button">
                <a href="">Tìm hiểu thêm <img src="/assets/images/muiten2.png"></a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item slide-item-1">
          <div class="container">
            <div class="carousel-caption">
              <div class="horizontal-heading">
                <h2>Fit'n ngon</h2>
                <h1>Healthy food</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed to using 'Content here, content here',</p>
              </div>
              <div class="slide-button">
                <a href="">Tìm hiểu thêm <img src="/assets/images/muiten2.png"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="about">
    <div class="container">
      <div class="about__title">
        <p class="title_heading">About</p>
        <h4 class="title_content">FIT'N NGON</h4>
      </div>
      <div class="about__content row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
          <p class="text-center about__cta">
            <a href="">Tìm hiểu thêm <img src="/assets/images/muiten.png"></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="today-menu">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="today-menu__title">
            <p class="title_heading">Discover</p>
            <h4 class="title_content">THỰC ĐƠN HÔM NAY</h4>
          </div>
        </div>
      </div>
      <div class="row today-menu__items">
        <div class="col-12 col-md-6 menu-item">
          <div class="d-flex flex-row">
            <div class="col-6 menu-item__image d-flex flex-column justify-content-center">
              <img src="/assets/images/1.png">
            </div>
            <div class="col-6 menu-item__info d-flex flex-column justify-content-center">
              <p class="menu-item__info__name">Hendrerit nisi venenatis</p>
              <p class="menu-item__info__price">Giá bán: <span class="price">50.000đ</span></p>
              <div class="menu-item__info__cta">
                <!-- <a href="">Thêm vào giỏ hàng<img src="/assets/images/muiten.png"></a> -->
                <button class="text-uppercase">Thêm vào giỏ hàng</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 menu-item">
          <div class="d-flex flex-row">
            <div class="col-6 menu-item__image d-flex flex-column justify-content-center">
              <img src="/assets/images/1.png">
            </div>
            <div class="col-6 menu-item__info d-flex flex-column justify-content-center">
              <p class="menu-item__info__name">Hendrerit nisi venenatis</p>
              <p class="menu-item__info__price">Giá bán: <span class="price">50.000đ</span></p>
              <div class="menu-item__info__cta">
                <!-- <a href="">Thêm vào giỏ hàng<img src="/assets/images/muiten.png"></a> -->
                <button class="text-uppercase">Thêm vào giỏ hàng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="combo">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="combo__title">
            <p class="title_heading">Discover</p>
            <h4 class="title_content">COMBO FIT'N NGON</h4>
          </div>
        </div>
      </div>
      <div class="row combo__items">
        <div class="d-flex flex-column justify-content-center combo__item">
          <strong>Fit Combo I</strong>
          <div class="combo__item__image justify-content-center">
            <img src="/assets/images/4.png">
          </div>
          <strong>Gói 1 suất/ngày</strong>
          <div class="combo__item__table-price">
            <table>
              <tr>
                <td>2 tuần</td>
                <td>10 buổi</td>
                <td>849k</td>
              </tr>
              <tr>
                <td>4 tuần</td>
                <td>20 buổi</td>
                <td>1699k</td>
              </tr>
              <tr>
                <td>6 tuần</td>
                <td>30 buổi</td>
                <td>2499k</td>
              </tr>
              <tr>
                <td>10 tuần</td>
                <td>50 buổi</td>
                <td>3999k</td>
              </tr>
            </table>
          </div>
          <p>Từ 350 - 400 cal dành cho người giảm cân và ăn uống lành mạnh</p>
          <div class="combo__item__btn">
            <a href="/combo">Tìm hiểu thêm</a>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center combo__item">
          <strong>Big Combo</strong>
          <div class="combo__item__image justify-content-center">
            <img src="/assets/images/3.png">
          </div>
          <strong>Gói 1 suất/ngày</strong>
          <div class="combo__item__table-price">
            <table>
              <tr>
                <td>10 buổi</td>
                <td>849k</td>
              </tr>
              <tr>
                <td>20 buổi</td>
                <td>1699k</td>
              </tr>
              <tr>
                <td>30 buổi</td>
                <td>2499k</td>
              </tr>
              <tr>
                <td>50 buổi</td>
                <td>3999k</td>
              </tr>
            </table>
          </div>
          <p>Từ 350 - 400 cal dành cho người giảm cân và ăn uống lành mạnh</p>
          <div class="combo__item__btn">
            <a href="/combo">Tìm hiểu thêm</a>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center combo__item">
          <strong>Fit Combo II</strong>
          <div class="combo__item__image justify-content-center">
            <img src="/assets/images/2.png">
          </div>
          <strong>Gói 2 suất/ngày</strong>
          <div class="combo__item__table-price combo__item__table-special">
            <table>
              <tr>
                <td>2 tuần</td>
                <td>10 buổi</td>
                <td>849k</td>
              </tr>
              <tr>
                <td>4 tuần</td>
                <td>20 buổi</td>
                <td>1699k</td>
              </tr>
              <tr>
                <td>6 tuần</td>
                <td>30 buổi</td>
                <td>2499k</td>
              </tr>
              <tr>
                <td>10 tuần</td>
                <td>50 buổi</td>
                <td>3999k</td>
              </tr>
            </table>
          </div>
          <p>Từ 350 - 400 cal dành cho người giảm cân và ăn uống lành mạnh</p>
          <div class="combo__item__btn">
            <a href="/combo">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opinion">
    <div class="container">
      <div class="row justify-content-center opinion__items">
        <div class="col-12 col-sm-5 opinion__item-1">
          <div class="opinion__title">
            <p class="title_heading">Discover</p>
            <h4 class="title_content">Ý kiến khách hàng</h4>
          </div>
          <div class="row justify-content-center">
            <div class="col-12 col-md-8">
              <p class="text-center">
                Chúng tôi luôn lắng nghe ý kiến của bạn để đem lại những trải nghiệm tuyệt vời hơn nữa. Hãy cho chúng
                tôi biết những gì bạn nghĩ
              </p>
              <div class="opinion__control">
                <span><img src="/assets/images/left.png" alt=""></span>
                <span><img src="/assets/images/right.png" alt=""></span>
              </div>
            </div>
          </div>
          <div class="opinion__option">
            <ul>
              <li class="active"></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-7 opinion__item-2">
          <div class="d-flex flex-row justify-content-center melancholy">
            <div class="d-flex flex-column justify-content-center melancholy__item">
              <div class="image d-flex justify-content-center">
                <img src="/assets/images/sieudaubep.png">
              </div>
              <p class="name text-uppercase">Mr.Snack</p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              </p>
            </div>
            <div class="d-flex flex-column justify-content-center melancholy__item">
              <div class="image d-flex justify-content-center">
                <img src="/assets/images/sieudaubep.png">
              </div>
              <p class="name text-uppercase">Mr.Snack1</p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              </p>
            </div>
            <div class="d-flex flex-column justify-content-center melancholy__item">
              <div class="image d-flex justify-content-center">
                <img src="/assets/images/sieudaubep.png">
              </div>
              <p class="name text-uppercase">Mr.Snack2</p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              </p>
            </div>
            <div class="d-flex flex-column justify-content-center melancholy__item">
              <div class="image d-flex justify-content-center">
                <img src="/assets/images/sieudaubep.png">
              </div>
              <p class="name text-uppercase">Mr.Snack3</p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              </p>
            </div>
            <div class="d-flex flex-column justify-content-center melancholy__item">
              <div class="image d-flex justify-content-center">
                <img src="/assets/images/sieudaubep.png">
              </div>
              <p class="name text-uppercase">Mr.Snack4</p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="partner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="partner__title">
            <p class="title_heading">Discover</p>
            <h4 class="title_content">Đối Tác</h4>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center partner__content">
        <div class="d-flex flex-column justify-content-center partner__image">
          <img src="/assets/images/chephouse.png" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center partner__image">
          <img src="/assets/images/curves.png" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center partner__image">
          <img src="/assets/images/jus.png" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center partner__image">
          <img src="/assets/images/megamaket.png" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center partner__image">
          <img src="/assets/images/payoo.png" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center partner__image">
          <img src="/assets/images/vineco.png" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center partner__image">
          <img src="/assets/images/vineco.png" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center partner__image">
          <img src="/assets/images/vineco.png" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center partner__image">
          <img src="/assets/images/vineco.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
