<section class="header-page">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-12">
              <div class="header-title text-center">
                  <strong class="text-uppercase">q & a</strong>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="qa">
  <div class="container">
      <div class="popup-ms">
          <a href="">
              <img src="/assets/images/icon-fb.png" alt="">
          </a>
      </div>
      <div class="row">
          <div class="col-12 col-md-12 ">
              <div class="qa__heading">
                  <h3 class="text-left">Chúng tôi có thể hỗ trợ gì cho bạn?</h3>
                  <span></span>
              </div>
              <div class="qa__search-box">
                  <form class="form" method="" action="" class="qa-search">
                      <span class="search-input"><input class="form-item" type="text" name="" placeholder="Cho chúng tôi biết thắc mắc của bạn"><a href=""><i class="fa fa-search"></i></a></span>
                  </form>
              </div>
              <div class="qa_content" *ngIf="payload.fetched">
                  <h3>{{ payload.item.getQuestion()}}</h3>
                  <p>{{ payload.item.getAnswer()}}</p>


              </div>


          </div>
      </div>
  </div>
</section>
