<header>
  <div class="top-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-6">
          <div class="content_left text-left">
            <p>HotLine: 0945514511 <span>Email: Fitnngon@gmail.com</span></p>
          </div>
        </div>
        <div class="col-md-6 col-6">
          <div class="content_right text-right">
            <!-- <img class="img-fluid" src="/assets/images/avatar1.jpg" alt=""> -->
            <div class="form-user">
              <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false"><img class="img-fluid" src="/assets/images/avatar1.jpg"
                    alt=""> chuhuumanh</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item custom-dropdown" href="/change">Thông tin cá nhân</a>
                  <a class="dropdown-item custom-dropdown" href="/infor">Thay đổi mật khẩu</a>
                  <a class="dropdown-item custom-dropdown" href="/infor1">Thông tin combo</a>
                  <a class="dropdown-item custom-dropdown" href="/bought">Lịch sử giao dịch</a>
                  <a class="dropdown-item custom-dropdown" href="#">Đăng xuất</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-menus">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="navbar-header">
          <a href="/" class="navbar-brand logo">
            <img src="/assets/images/logo.png">
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="clear-fix"></div>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ml-auto main-menu">
            <li class=""><a href="/about">Giới Thiệu</a></li>
            <li class=""><a href="/menu_month">Menu tháng tới</a></li>
            <li class=""><a href="/combo">Combo</a></li>
            <li class=""><a href="/shop-single">Đồ ăn vặt</a></li>
            <li class=""><a href="/blogs">Blog</a></li>
            <li class=""><a href="/qas">Q&A</a></li>
            <li>
              <div class="icon-menu">
                <button type="button" class="search-btn toggle-overlay"><i class="fa fa-search"></i></button>
                <div class="search-body">
                  <div class="search-form">
                    <form action="#">
                      <input class="search-input" type="search" placeholder="Search Here">
                      <div class="outer-close toggle-overlay">
                        <button type="button" class="search-close">
                          <i class="fa fa-times"></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
                <a href="#"><i class="fa fa-cart-plus"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<router-outlet></router-outlet>


<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-2 col-xl-2 d-flex flex-column">
        <h3 class="text-uppercase">FIT'N NGON</h3>
        <div class="contact">
          <a href="#" class="justify-content-center"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#" class="justify-content-center"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="#" class="justify-content-center"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-7 col-xl-7 d-flex flex-column">
        <ul class="list-unstyled">
          <li>
            <a href="#!">GIỚI THIỆU</a>
          </li>
          <li>
            <a href="#!">MENU THÁNG TỚI</a>
          </li>
          <li>
            <a href="#!">CỬA HÀNG LẺ</a>
          </li>
          <li>
            <a href="#!">Blogs</a>
          </li>
          <li>
            <a href="#!">Q&A</a>
          </li>
        </ul>
        <div class="address">
          <p>Số 477 Minh Khai, Vĩnh Tuy, Hai Bà Trưng, Hà Nội</p>
          <p>Email: Fitnngon@gmail.com</p>
          <p>HotLine: 0945514511</p>
        </div>

      </div>
      <div class="col-12 col-sm-12 col-md-3 col-xl-3 register d-flex flex-column justify-content-center">
        <p class="text-uppercase">Đăng ký nhận thông tin</p>
        <form action="" method="POST" role="form">
          <div class="form-email">
            <input type="text" class="" id="" placeholder="Email Adress@email.com">
          </div>
          <button type="submit"><img src="/assets/images/muiten.png"></button>
        </form>
        <div class="bocongthuong">
          <img src="/assets/images/logo-bct.png">
        </div>
        <p>© All rights reserved. 2018</p>
      </div>
    </div>
  </div>
</footer>
