<div class="box">
  <div class="image">
    <a [routerLink]="['/products', product.slug]">
      <img src="./../assets/images/bg-prod1.png" [style.background-image]="'url(' + product.image + ')'" />
    </a>
  </div>
  <div class="box-panel">
    <div class="content-wrapper">
      <h3 class="mar-0">
        <a [routerLink]="['/products', product.slug]">{{ product.getTitle() }}</a>
      </h3>
      <div class="amount_installed">
        <p>
          <span style="font-weight:bold">{{ product.amount_installed }}</span> lượt cài đặt
        </p>
      </div>
      <div class="install-product">
        <a (click)="redirectToContactPage(product)"><button class="btn">Cài Đặt Ngay</button></a>
      </div>
    </div>
  </div>
</div>
