@import 'font';
@import 'heading';
@import 'mixin';
@import 'color';
@import 'button';
@import 'common';

:host{
    .qa {
        padding: 50px 0;
        background: #f5f5f5;
        position: relative;
        .popup-ms {
          img {
            position: absolute;
            right: 0;
            bottom: 10%;
          }
        }
        @include e("heading") {
          h3 {
            font-size: 25px;
            color: #3d3d3d;
            font-weight: bold;
            font-family: $SegoeUIBold;
          }
        }
        @include e("contact") {
          .list-contact {
            padding: 0;
          }
          h3 {
            font-size: 14px;
            font-weight: bold;
            color: #3d3d3d;
            font-family: $SegoeUIBold;
          }
          li {
            list-style: none;
            padding: 10px 0;
            a {
              font-size: 14px;
              font-weight: 300;
              text-decoration: none;
              color: #3d3d3d;
              font-family: $SegoeUI;
              &:hover {
                color: #f48131;
                border-bottom: 1px solid #f48131;
              }
            }
          }
        }
        @include e("search-box") {
          padding: 30px 0;
          .search-input {
            position: relative;
            input {
              &::-webkit-input-placeholder {
                font-style: italic;
              }
              &::-moz-placeholder {
                font-style: italic;
              }
              width: 50%;
              border-radius: 18px;
              background-color: #ffffff;
              border: transparent;
              padding: 8px 16px;
              &:focus {
                outline: none;
                box-shadow: 0px 0px 2px #f48131;
              }
            }
            i {
              position: absolute;
              top: 0;
              right: 13px;
              color: #707070;
            }
          }
          @media (max-width: 575.98px) {
              .search-input {
                input {
                  width: 100%;
                }
            }
          }
          @media (max-width: 791.98px) {
            .search-input {
              input {
                width: 100%;
              }
          }
        }

        }
        @include e("better-searching") {
          h3 {
            font-size: 14px;
            color: #3d3d3d;
            font-family: $SegoeUIBold;
          }
          li {
            list-style: none;
            padding: 10px 0;
            a {
              font-size: 14px;
              font-weight: 300;
              text-decoration: none;
              color: #3d3d3d;
              font-family: $SegoeUI;
              &:hover {
                color: #f48131;
                border-bottom: 1px solid #f48131;
              }
            }
          }
          .list-question {
            padding: 0;
          }
        }
      }




}
