// colors
$default_bg_color: #fff;
$main_header_bg_color: #34495e;
$main_footer_bg_color: #34495e;
$default_text_color: #333;

// font-size
$font_size_smaller: 10px;
$font_size_small: 12px;
$font_size_normal: 14px;
$font_size_large: 16px;
$font_size_larger: 18px;
$font_size_25: 25px;
$font_size_30: 30px;

$dusty-orange: #f48131;
