@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland');

@font-face {
  font-family: 'Segoe UI';
  src: url('../assets/fonts/segeoui/segoeui.ttf');
}
@font-face {
  font-family: 'Segoe UI Bold';
  src: url('../assets/fonts/segeoui/segoeuib.ttf');
}
@font-face {
  font-family: 'Segoe UI Semi Bold';
  src: url('../assets/fonts/segeoui/seguisb.ttf');
}
