@import "~bootstrap/dist/css/bootstrap.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
// uncomment next-line to enable font-awesome
@import "~font-awesome/css/font-awesome.css";
@import "./ui/_mixin";
@import "./ui/font";
@import "./ui/heading";
@import "./ui/color";
@import "./ui/button";
@import "./ui/_common";
@import "./pages/*";

body {
  color: $default_text_color;
  background-color: #fcfcfc;
  font-size: $font_size_normal;
  font-family: $SegoeUI;
  header {
    .bg-dark {
      background-color: $main_header_bg_color !important;
    }
    .main {
        min-height: calc(100vh - 260px);
    }
  }
  b{
    font-family: $SegoeUIBold;
  }
@media (min-width: 1200px)
{
  .container {
    max-width: 1088px;
  }

    footer {
        padding-top: 20px;
        background: $main_footer_bg_color;
        color: #fff;
        a {
            color: #fff;
            &:hover {
                color: #2980b9;
                text-decoration: none;
            }
        }
    }
  }
}