<section class="header-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-title text-center">
          <strong class="text-uppercase">FIT'N NGON BLOGS
          </strong>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blogs_detail" *ngIf="payload.fetched">
  <div class="container">
    <h2>{{payload.item.getTitle()}}</h2>
    <div class="row">
      <div class="col-12 col-md-8 box-blogs-detail" [innerHTML]="payload.item.getContent()"></div>
      <div class="col-12 col-md-4 orther">
        <div class="box theme">
          <p>Chủ đề</p>
          <ul>
            <li><a href="#">Công thức</a></li>
            <li><a href="#">Review món ăn</a></li>
            <li><a href="#">Mẹo trong nấu ăn</a></li>
            <li><a href="#">Kiến thức</a></li>
          </ul>
        </div>
        <div class="box hot">
          <p>Bài viết nổi bật</p>
          <div class="hot-item">
            <div class="image float-left">
              <img src="/assets/images/9.png">
            </div>
            <div class="content">
              <p class="title"><a href="#">Hendrerit nisi venenatis</a></p>
              <p class="time"><i class="fa fa-calendar" aria-hidden="true"></i> 14/11/2018</p>
            </div>
          </div>
          <div class="hot-item">
            <div class="image float-left">
              <img src="/assets/images/9.png">
            </div>
            <div class="content">
              <p class="title"><a href="#">Hendrerit nisi venenatis</a></p>
              <p class="time"><i class="fa fa-calendar" aria-hidden="true"></i> 14/11/2018</p>
            </div>
          </div>
          <div class="hot-item">
            <div class="image float-left">
              <img src="/assets/images/9.png">
            </div>
            <div class="content">
              <p class="title"><a href="#">Hendrerit nisi venenatis</a></p>
              <p class="time"><i class="fa fa-calendar" aria-hidden="true"></i> 14/11/2018</p>
            </div>
          </div>
        </div>
        <div class="box tag">
          <p>Nhãn</p>
          <ul>
            <li><a href="#">Lorem Ipsum IP</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Lorem Ipsum IP</a></li>
            <li><a href="#">Lorem Ipsum IP</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Lorem Ipsum IP</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Lorem Ipsum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blogs-relate">
  <div class="container">
    <b class="text-uppercase">Các bài viết liên quan</b>
    <div class="row">
      <div class="col-12 col-md-4 blogs-items">
        <div>
          <div class="image">
            <img src="/assets/images/5.png">
          </div>
          <div class="content">
            <div class="name text-uppercase">HENDRERIT NISI VENENATIS</div>
            <div class="description">It is a long established fact that a reader will be distracked by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
              normal</div>
            <div class=" blogs__cta">
              <a href="">Tìm hiểu thêm <img src="/assets/images/muiten.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 blogs-items">
        <div>
          <div class="image">
            <img src="/assets/images/8.png">
          </div>
          <div class="content">
            <div class="name text-uppercase">HENDRERIT NISI VENENATIS</div>
            <div class="description">It is a long established fact that a reader will be distracked by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
              normal</div>
            <div class=" blogs__cta">
              <a href="">Tìm hiểu thêm <img src="/assets/images/muiten.png"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 blogs-items">
        <div>
          <div class="image">
            <img src="/assets/images/6.png">
          </div>
          <div class="content">
            <div class="name text-uppercase">HENDRERIT NISI VENENATIS</div>
            <div class="description">It is a long established fact that a reader will be distracked by the readable
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
              normal</div>
            <div class=" blogs__cta">
              <a href="">Tìm hiểu thêm <img src="/assets/images/muiten.png"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
